
.button {
    background-color: #EC255A;  
    border: none;
    
    color: #FAEDF0;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    }
    
    .signup {
    border: 2px solid #292C6D;
    background-color: #292C6D;
    }
    .signin{
        background-color: #FAEDF0; 
        color: #EC255A; 
        border: solid #EC255A;
    }
    .signin:hover{
    background-color: #EC255A;
    color: #FAEDF0;
    
    }
